.como-llegar {
    .map-container {
        display: flex;
        flex-direction: column;
        position: relative;

        > * {
            flex: 1 1 auto;
        }
    }

    .hint-arrow {
        color: white;
    }

    
    @media (max-width: 767px) {
        .confirmar-asistencia {
            display: none !important;
        }
    }

    @media (min-width: 768px) {
        .hint-arrow {
            color: #343a40;
        }
        
        .confirmar-asistencia {
            display: flex;
        }
    }
}