// Form
// Grid
  // Transition Ease
  @mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
    -webkit-transition: $attr $time $curve;
    -moz-transition: $attr $time $curve;
    -o-transition: $attr $time $curve;
    -ms-transition: $attr $time $curve;
    transition: $attr $time $curve;
  }
  
  //-- Lato --//
  @mixin lato-1 {font-family: 'Lato', sans-serif; font-weight:100;}
  @mixin lato-1-i {@include lato-1; font-style:italic;}
  
  @mixin lato-3 {font-family: 'Lato', sans-serif; font-weight:300;}
  @mixin lato-3-i {@include lato-3; font-style:italic;}
  
  @mixin lato-4 {font-family: 'Lato', sans-serif; font-weight:400;}
  @mixin lato-4-i {@include lato-4; font-style:italic;}
  
  @mixin lato-7 {font-family: 'Lato', sans-serif; font-weight:700;}
  @mixin lato-7-i {@include lato-7; font-style:italic;}
  
  @mixin lato-9 {font-family: 'Lato', sans-serif; font-weight:900;}
  @mixin lato-9-i {@include lato-9; font-style:italic;}
  
  
  // Colors
  $blue:#313A3D;
  $orange:#FD9638;
  $dark-orange:darken($orange, 20%);
  $grey:#B6B6B6;
  $light-grey:lighten($grey, 15%);
  
  $background:#efefef;
  $field-color:#E8E9EA;
  
  
  
  
.confirmar-asistencia {
    background:$background;
    font-size:62.5%;
    @include lato-3;
    color:$grey;

    h1 {
        font-size:3em;
        margin: 0 15% 40px;
        text-transform:uppercase;
        text-align: center;
        @include lato-1;

        
        @media (min-width: 768px) {
            font-size:4em;
            margin: 0 0 40px;
        }
    }
  
    $field-height: 52px;
    form {
        width: 70%;

        .field,
        .radio-box {
            min-height: $field-height;
            width:100%;
            margin-bottom: 3%;
        }
    
        .field {
            position:relative;
            $hover-label-width:33%;
            $placeholder-bumper:1.5%;
            $label-padding:18px;
    
            // Label
            label {
                background:$blue;
                border-radius: 0;
                height: $field-height;
                text-transform: uppercase;
                position:absolute;
                top:0;
                left:0;
                width:100%;
                padding:($label-padding + 0px) 0;
                font-size: 1.45em;
                letter-spacing: 0.075em;
                text-align: center;
                margin: 0;
    
                @include ease(333ms);
            }

            .icon {
                display: block;
                position:absolute;
                top: 26px;
                left: $hover-label-width/2;
                transform: translate(-50%, -50%);
                color:white;
                font-size: 2.5em;
                text-shadow:1px 2px 0 $dark-orange;
                opacity: 0;

                @include ease(333ms);
            }

            // Fields
            input[type="text"],
            textarea {
                border:none;
                box-sizing: border-box;
                background: $field-color;
                height:100%;
                width:100%;
                margin:0;
                padding:$label-padding 0;
                padding-left:$hover-label-width + $placeholder-bumper;
                color:$blue;
                font-size: 1.4em;
                letter-spacing: 0.05em;
                text-transform: uppercase;
    
                &#msg {
                    resize: none;
                    min-height: 52px;

                    @include ease(333ms);
                }
    
                // Focus and JS Toggle Class
                &:focus,
                &.has-value {
                    outline:none;
    
                    &#msg {
                        min-height: 100px;
                    }

                    + label {
                        width:$hover-label-width;
                        background:$orange;
                    }
                }

                &.has-value {
                    + label {
                        color: transparent;
                    }

                    ~ .icon {
                        opacity: 1 !important;
                    }
                }
            }
    
            // Field Hover
            &:hover {
                label {
                    width:$hover-label-width;
                    background:$blue;
                    color:white;
                }
            }
        }

        .radio-box {
            label {
                border-radius: 0;
                color:$grey;
                font-weight: 100;
                text-transform: uppercase;
            }
        }
    
        // Submit Button
        input[type="submit"] {
            background:$orange;
            color:white;
            -webkit-appearance: none;
            border: none;
            text-transform: uppercase;
            position:relative;
            padding: 13px 50px;
            font-size: 1.4em;
            letter-spacing: 0.1em;
            @include lato-3;
            @include ease;
            
            &:hover {
                background:$blue;
                color:$orange;
            }
    
            &:focus {
                outline:none;
                background:$dark-orange;
            }
        }
    }
}