.home {
    position: relative;

    .overlay {
        color: #d2d0d0;
        font-weight: 600;
        position: absolute;
        padding: 0 20px;
        text-align: center;
        text-shadow: 1px 1px 2px black;
        z-index: 1;
        top: 90px;

        @media (min-width: 768px) {
            top: 10%;
            right: 8%;
            left: 5%;
            text-align: right;
        }
    }
}