.home {
    position: relative;

    .overlay {
        color: #d2d0d0;
        font-weight: 600;
        position: absolute;
        text-align: center;
        z-index: 1;
        top: 90px;
        width: 70%;
        margin: 0 10%;

        h1 { font-size: 2rem }
        p { font-size: 1.3rem }

        @media (min-width: 768px) {
            top: 10%;
            right: 4%;
            white-space: nowrap;
            text-align: right;
            
            h1 { font-size: 3.15rem }
            p { font-size: 1.9rem }
        }

        a {
            color: #4b9aef;
            text-decoration: none;
        }
    }
}