.full-size
  width: 100%;

.grow
  flex: 1 1 auto;
  max-height: 100%;

.fix
  flex: 0 0 auto;

@media (min-width: 768px)
  .navbar-nav
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: space-around;

  .nav-item
    a
      :hover
        text-decoration: none;

      &.active
        border-bottom: 1px solid blue;

// #fp-nav,
// .fp-slidesNav
//   ul li a span
//     background: white !important;
//     margin: 0 !important;
//     transform: translate(-50%, -50%);