.carousel-item {
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;

    &::after {
        content: '';
        background-color: rgba(0, 0, 0, .3);
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;
    }
}