.info-regalo {
    > div {
        width: 70%;

        @media (min-width: 768px) {
            width: 40%;
        }

        > h1 {
            font-size: 3.4rem;
        }

        > p {
            font-size: 29px;
        }
    }

    .piggy-bank {
        height: 100px;
    }
}